@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900");

html {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", serif;
  font-size: 14px;
  line-height: 1.2;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 320px;
  margin: 0 auto;
}

.page-header {
  background-image: url(../img/banner.jpg);
  background-color: rgb(26, 25, 21);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 540px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding-top: 30px;
}

.page-button {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  background: transparent;
  width: 94px;
  height: 40px;
  padding: 0px;
  border: none;
}

.page-button:hover {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  border-radius: 20px;
  cursor: pointer;
}

.btn-log {margin-bottom: 110px;}

.logo {
  display: block;
  width: 178px;
  height: 20px;
  margin: 0 auto 40px;
}

.header-title-info {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 15px;
}

.txt-header-info {
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 300;
  margin-top: 0;
  padding: 0 35px;
}

.section-button {
  width: 280px;
  height: 40px;
  padding: 0px;
  border: none;
  border-radius: 20px;
  background-color: rgb(255, 78, 80);
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.section-button:hover {
  color: rgb(255, 78, 80);
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 78, 80);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.main-content {padding-top: 70px;}

.title-main-content {
  font-size: 22px;
  color: rgb(51, 51, 51);
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.partner {
  padding: 20px 30px;
  text-align: center;
}

.for-after {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 121px;
  height: 121px;
}

.for-after::after {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  content: "";
  width: 33px;
  height: 33px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(255, 255, 255);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.partner-1::after {
  background-image: url(../img/icons/tv.png);
  background-color: rgb(255, 78, 80);
}

.partner-2::after {
  background-image: url(../img/icons/tube.png);
  background-color: rgb(255, 165, 7);
}

.partner-3::after {
  background-image: url(../img/icons/cup.png);
  background-color: rgb(28, 215, 173);
}

.partner-4::after {
  background-image: url(../img/icons/plane.png);
  background-color: rgb(78, 115, 219);
}

.partner-name {
  color: rgb(51, 51, 51);
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 20px;
}

.partner-info {
  font-family: "Roboto";
  color: rgb(102, 102, 102);
  margin-top: 0;
}

.other-partners {
  display: block;
  color: rgb(255, 78, 80);
  font-weight: bold;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 78, 80);
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  width: 284px;
  height: 44px;
  margin: 0 auto 50px;
}

.other-partners:hover {
  border: none;
  background-color: rgb(255, 78, 80);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 320px) and (max-width: 340px) {
  .wrapper {max-width: 100%;}
}

@media (min-width: 320px) {
  .page-header .row > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
  }
}

@media screen  and (min-width: 768px) and (max-width: 788px) {
 .wrapper {max-width: 100%;}


}

@media screen and (min-width: 768px) {
  .wrapper {width: 768px;}

  
    

  .page-header {
    padding-top: 40px;
    min-height: 700px;
    background-image: url(../img/banner-tab.jpg);
  }

  .logo {margin: 7px 0 0 0;}

  .page-header .row > [class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
  }

  .header-title-info {
    font-size: 52px;
    margin: 0 auto 40px;
  }

  .txt-header-info {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .section-button {width: 226px;}

  .title-main-content {margin-bottom: 38px;}
}

@media (min-width: 992px) {
  .wrapper {
    width: 940px;
    margin: 0 auto;
  }

  .page-header {
   
    background-image: url(../img/banner-desc.jpg);}
  }

}