$main-font-famili: "Open Sans", serif;
$main-font-txt: "Montserrat";
$main-font-title: "Kaushan Script";
$secont-font-txt: "Roboto";

$main-font-size: 14px;

$color-orang-bgc: rgba(243, 129, 129, 0.9);
$color-yellow: rgba(252, 227, 138, 0.9);
$color-orang-txt: rgb(243, 129, 129);
$color-white: rgb(255, 255, 255);
$color-yellow-bgc: rgb(252, 227, 138);
$main-fon-bgc: 0, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%;
$main-color-txt: rgb(51, 51, 51);
$second-color-txt: rgb(153, 153, 153);
$color-green:rgb(149, 225, 211);
$color-btn: rgb(229, 229, 229);
$form-color: rgb(204, 204, 204);