@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");
/*GLOBAL*/

body {
  font-family: "Open Sans", serif;
  line-height: 1.2;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.container-flex {  
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Header*/

.page-header {
  background-image: -webkit-gradient( linear, left top, left bottom, from(0), color-stop(0%, rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9))), url(../img/Layer.png);
  background-image: -webkit-linear-gradient( 0, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), url(../img/Layer.png);
  background-image: -o-linear-gradient( 0, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), url(../img/Layer.png);
  background-image: linear-gradient( 0, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), url(../img/Layer.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 1000px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 50px;
  padding-top: 30px;
}

.page-nav {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /*min-height: 90px;*/
  margin-bottom: 170px;
}

.site-logo {
  display: inline-block;
  font-size: 0;
}

.site-navigation {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 620px;
}

.site-navigation__link {
  display: block;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
  fill: #fff;
}

.site-navigation__link:hover {
  fill: rgb(252, 227, 138);
  color: rgb(252, 227, 138);
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.site-navigation__item:not(:nth-last-child(-n+2))>.site-navigation__link::after {
  display: block;
  content: "";
  margin-top: 10px;
  width: 100%;
  height: 3px;
  background-color: transparent;
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.site-navigation__item:not(:nth-last-child(-n+2))>.site-navigation__link:hover::after {
  background-color: rgb(252, 227, 138);
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.site-navigation__item:hover+.site-navigation__item {
  font-weight: bold;
}

.header-info__title {
  font-size: 72px;
  font-family: "Kaushan Script";
  color: rgb(255, 255, 255);
  line-height: 1;
  font-weight: 400;
  text-align: center;
  margin-top: 0;
  margin-bottom: 45px;
}

.header-info__text {
  width: 822px;
  font-size: 150px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 120px;
}

.header-info__link {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(255, 255, 255);
  width: 164px;
  height: 44px;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 38px;
  text-align: center;
  margin: 0 auto;
}

.header-info__link:hover {
  background-color: rgba(243, 129, 129, 0.9);
  border: none;
  line-height: 44px;
  ;
}

/*MAIN*/
/*Service-section*/

.section__txt {
  margin: 0;
  font-size: 24px;
  font-family: "Kaushan Script";
  color: rgb(51, 51, 51);
  text-align: center;
}

.section__title {
  margin: 00 auto 68px;
  padding-top: 24px;
  font-size: 30px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.section__title::after {
  display: block;
  margin: 24px auto 0;
  content: "";
  width: 60px;
  height: 3px;
  background-color: rgb(243, 129, 129);
}

.section__list {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.services-item {
  position: relative;
  width: 365px;
  padding-left: 92px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 100px;
}

.services-item::before {
  display: block;
  position: absolute;
  top: 0;
  left: 30px;
  content: "";
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
}

.services-item--alarm::before {
  background-image: url(../img/icons/ALARM.svg);
}

.services-item--book::before {
  background-image: url(../img/icons/BOOK.svg);
}

.services-item--computer::before {
  background-image: url(../img/icons/COMPUTER.svg);
}

.services-item--home::before {
  background-image: url(../img/icons/HOME.svg);
}

.services-item--image::before {
  background-image: url(../img/icons/IMAGE.svg);
}

.services-item--line::before {
  background-image: url(../img/icons/LINE.svg)
}

.services-item__title {
  margin: 0 0 20px 0;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  text-transform: uppercase;
}

.services-item__txt {
  margin: 0;
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  line-height: 24px;
}

/*TEAM*/

.team {
  margin-bottom: 80px;
}

.team__descript {
  width: 940px;
  margin: 0 auto 85px;
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  line-height: 24px;
  text-align: center;
}

.team__list {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.command-item {
  position: relative;
  float: left;
  font-size: 0;
}

.command-item__img {
  float: left;
  margin-bottom: 30px;
  -webkit-transition: -webkit-transform 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: -webkit-transform 0.2s linear, -webkit-box-shadow 0.2s linear;
  -o-transition: transform 0.2s linear, box-shadow 0.2s linear;
  transition: transform 0.2s linear, box-shadow 0.2s linear;
  transition: transform 0.2s linear, box-shadow 0.2s linear, -webkit-transform 0.2s linear, -webkit-box-shadow 0.2s linear;
}

.command-item:hover .command-item__img {
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
  -webkit-box-shadow: rgb(149, 225, 211) 10px 10px;
  box-shadow: rgb(149, 225, 211) 10px 10px;
  -webkit-transition: -webkit-box-shadow 0.2s linear, -webkit-transform 0.2s linear;
  transition: -webkit-box-shadow 0.2s linear, -webkit-transform 0.2s linear;
  -o-transition: box-shadow 0.2s linear, transform 0.2s linear;
  transition: box-shadow 0.2s linear, transform 0.2s linear;
  transition: box-shadow 0.2s linear, transform 0.2s linear, -webkit-box-shadow 0.2s linear, -webkit-transform 0.2s linear
}

.socials {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  width: 380px;
  height: 475px;
  background: -webkit-gradient( linear, left bottom, left top, from(rgba(251, 227, 137, 0.9)), to(rgba(243, 129, 129, 0.9)));
  background: -webkit-linear-gradient( bottom, rgba(251, 227, 137, 0.9), rgba(243, 129, 129, 0.9));
  background: -o-linear-gradient( bottom, rgba(251, 227, 137, 0.9), rgba(243, 129, 129, 0.9));
  background: linear-gradient( to top, rgba(251, 227, 137, 0.9), rgba(243, 129, 129, 0.9));
  opacity: 0;
  -webkit-transition: opacity 0.2s linear, -webkit-transform 0.2s linear;
  transition: opacity 0.2s linear, -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear, opacity 0.2s linear;
  transition: transform 0.2s linear, opacity 0.2s linear;
  transition: transform 0.2s linear, opacity 0.2s linear, -webkit-transform 0.2s linear;
}

.command-item:hover .socials {
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
  opacity: 1;
  -webkit-transition: opacity 0.2s linear, -webkit-transform 0.2s linear;
  transition: opacity 0.2s linear, -webkit-transform 0.2s linear;
  -o-transition: opacity 0.2s linear, transform 0.2s linear;
  transition: opacity 0.2s linear, transform 0.2s linear;
  transition: opacity 0.2s linear, transform 0.2s linear, -webkit-transform 0.2s linear;
}

.socials__link {
  display: block;
  width: 56px;
  height: 56px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(252, 227, 138);
  border: 1px solid #f38181;
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.socials .socials__link:hover {
  background-color: #f38181;
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  cursor: pointer;
}

.socials__icon {
  fill: #f38181;
}

.socials__link:hover .socials__icon {
  fill: #fff;
}

.command__title {
  margin: 0 0 15px 0;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  text-align: center;
}

.command__text {
  margin: 0;
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  font-style: italic;
  line-height: 24px;
  text-align: center;
}

/*FOOTER*/

.page-footer {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 80px;
  border-top: 1px solid rgb(229, 229, 229);
}

.page-footer__text {
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 400;
  color: rgb(51, 51, 51);
}

.footer-txt__link {
  text-decoration: none;
  color: rgb(243, 129, 129);
}

/*FORM*/

.form-footer__email {
  width: 230px;
  height: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 14px;
  font-size: 15px;
  font-family: "Roboto";
  font-style: italic;
  line-height: 24px;
  text-align: left;
  border: 1px solid rgb(204, 204, 204);
}

.form-footer__btn {
  width: 150px;
  height: 40px;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  background-color: rgb(149, 225, 211);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  border: transparent;
  cursor: pointer;
}

.form-footer__btn:hover {
  opacity: 0.7;
}