@import"imported.css";



li {
    list-style: none
  }
  
  div{
    width: 300px;
  
  }
  
        p {color: blueviolet; 
        width:450px;
        height: 300px;
         
        background-image: url(1j.jpg);
      background-repeat: no-repeat;
      background-color: aquamarine;
      background-position: center center; 
      margin: 100px;
      padding: 10px 20px;
      border: 20px solid red;
      border-top: 3px solid blue;
      border-radius: 20px;
  font-family: Arial;
  font-size: 20px;
  line-height: 30px;
  
  font-weight: bold;
  
  text-decoration: underline;
  
  font-style: italic;
  
  text-align: center;
  
  text-transform: uppercase;
  
  -webkit-box-shadow: 4px -4px 15px 0px #FF1F1F, 12px -11px 7px 0px #FF9376, 20px -5px 7px 0px #FFE264, 20px 6px 7px 0px #F6FF33, 13px 12px 17px 0px #FF9527, 2px 17px 17px 0px #FF0000, -9px 21px 18px 0px #FFF212, -9px 6px 11px 0px #FF0808, -11px -9px 11px 0px #FFFA17, -11px -9px 11px 0px #FFFA17, 5px 5px 8px 5px rgba(0,0,0,0); 
  box-shadow: 4px -4px 15px 0px #FF1F1F, 12px -11px 7px 0px #FF9376, 20px -5px 7px 0px #FFE264, 20px 6px 7px 0px #F6FF33, 13px 12px 17px 0px #FF9527, 2px 17px 17px 0px #FF0000, -9px 21px 18px 0px #FFF212, -9px 6px 11px 0px #FF0808, -11px -9px 11px 0px #FFFA17, -11px -9px 11px 0px #FFFA17, 5px 5px 8px 5px rgba(0,0,0,0);
  
  
  
  
  
  
      
  
      