html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  margin-bottom: 80px;
}

.site-logo {
  text-decoration: none;
  animation: logo-appear 1s linear;
}

pre {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: #95e1d3;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
  padding: 0;
}

@keyframes logo-appear {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }

  50% {
    transform: translateY(0);
    opacity: 1;
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* site navigation */
.site-navigation {
  display: flex;
  justify-content: space-between;
  flex-basis: 490px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation a {
  display: block;
  color: #95e1d3;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 17px;
  transition: color 0.2s linear;
  border-bottom: 3px solid #ffffff;
  padding: 8px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #f6a1a1;
  border-bottom: 3px solid #f38181;
}

/* SERVICES SECTION */

h2 {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  text-align: center;
  margin-bottom: 13px;
  display: block;
  margin-top: 0;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 92px;
  display: block;
  margin-top: 0;
}

h3::after {
  display: block;
  content: "";
  margin: 32px auto 0;
  width: 60px;
  height: 3px;
  background-color: #f38181;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;
}

.service-list-item {
  flex: 0 0 380px;
  margin-bottom: 55px;

  text-align: left;
  list-style: none;
  position: relative;
  padding-left: 70px;
}

.service-list-item:nth-last-child(-n + 3) {
  margin-bottom: 78px;
}

.service-list-item::before {
  content: "";
  display: inline-block;
  min-height: 32px;
  min-width: 32px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 16px;
}

h4 {
  padding: 0;
  margin: 0 0 14px 0;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  text-align: left;
  text-transform: uppercase;
  display: block;
}

.service-list-item p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  text-align: left;
}

.icon-alarm::before {
  background-image: url("../img/icons/service/ALARM.png");
}

.icon-graph::before {
  background-image: url("../img/icons/service/GRAPH.png");
}

.icon-computer::before {
  background-image: url("../img/icons/service/COMPUTER.png");
}

.icon-book::before {
  background-image: url("../img/icons/service/BOOK.png");
}

.icon-home::before {
  background-image: url("../img/icons/service/HOME.png");
}

.icon-frame::before {
  background-image: url("../img/icons/service/FRAME.png");
}

.features-list-item p {
  margin: 0;
  font-size: 14px;
}

/* TEAM SECTION */
.team {
  margin-bottom: 100px;
}

.team-title {
  margin-bottom: 40px;
}

.about-team {
  width: 980px;
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  text-align: center;
  margin: 0 auto 88px;
}

.wrapper {
  width: 380px;
  height: 470px;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  z-index: 2;
}

.square {
  width: 54px;
  height: 54px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fce38a;
  transition: background-color 200ms linear;
}

.wrapper-list-icons {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  transform: translate(-15px, 200px);
  opacity: 0;
  transition: opacity 200ms linear;
}

.icon-facebook {
  background-image: url("../img/icons/social/facebook.png");
}

.icon-twitter {
  background-image: url("../img/icons/social/twitter.png");
  margin-left: 2px;
}

.mtw {
  margin-left: 1px;
}

.icon-pinterest {
  background-image: url("../img/icons/social/pinterest.png");
  margin-left: 2px;
}

.icon-instagram {
  background-image: url("../img/icons/social/instagram.png");
  margin-left: 2px;
}

.tw {
  margin-left: 2px;
}

.pt {
  margin-left: 2px;
}

.inst {
  margin-left: 2px;
}

.wrapper-background {
  width: 380px;
  height: 470px;
  background-color: #95e1d3;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  z-index: -1;
}

.team-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 0 80px 0;
  list-style: none;
}

.team-list-item {
  position: relative;
  flex: 0 0 380px;
  padding: 0;
}

.team-list-name {
  padding: 0;
  margin-bottom: 5px;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  display: block;
}

.team-list-occupation {
  padding: 0;
  margin: 0;

  font-family: "Roboto", sans-serif;

  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  text-align: center;
  font-style: italic;
  display: block;
}

.wrapper-gradient {
  position: absolute;
  background-image: linear-gradient(
    0deg,
    rgb(252, 227, 138) 0%,
    rgb(243, 129, 129) 100%
  );
  width: 380px;
  height: 470px;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0.9;
  transition: transform 200ms linear, z-index 200ms linear;
}

.team-list-image {
  margin-bottom: 26px;

  transition: transform 200ms linear;
}

.team-list-item:hover .wrapper-gradient {
  z-index: 1;
  transform: translate(-10px, -10px);
}

.team-list-item:hover .wrapper-list-icons {
  opacity: 1;
}

.wrapper-list-icons-socials:hover .square {
  background-color: #95e1d3;
}

.team-list-item:hover .team-list-image {
  transform: translate(-10px, -10px);
}

/* FOOTER */

.footer-border {
  border-top: solid 1px #e5e5e5;
  height: 62px;
}

.page-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-legal {
  padding: 0;
  margin: 0;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  text-align: left;
}

.author-link {
  padding: 0;
  margin: 0;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #f38181;
  text-align: left;
  text-decoration: none;
}

input[type="mail"] {
  display: block;
  float: left;
  font-family: "Roboto", sans-serif;

  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  color: #cccccc;
  text-align: left;
  font-style: italic;
  height: 40px;
  width: 230px;
  border: solid 1px #e5e5e5;
}

input[type="submit"] {
  display: block;
  float: right;
  font-family: "Montserrat", sans-serif;

  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;

  height: 40px;
  width: 150px;
  border: none;
  background-color: #95e1d3;
  color: #ffffff;
}

input[type="submit"]:hover {
  cursor: pointer;
}

/* visually-hidden helper */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
